{
    "icc": false,
    "disable-legacy-registry": true,
    "default-ulimit": [ "nofile=100:200", "nproc=1024:2048" ],
    "userns-remap": "default",
    "log-driver": "syslog",
    "live-restore": true,
    "userland-proxy": false,
    "no-new-privileges": true
}
